.algorithm-layout {
    padding: 0 30px 20px 30px;
}

.algorithm-layout:not(:first-child) a {
    border-top: 1px solid #424242;
}

.algorithm-layout a {
    display: block;
    font-size: 24px;
    height: 55px;
    line-height: 55px;
    color: #fbc02d;
}

.description {
    max-width: 800px;
}

.complexity,
.condition,
.result {
    font-weight: 400;
    margin-top: 15px;
}
.result {
    line-height: 25px;
}
.example-title {
    margin-top: 15px;
    font-size: 20px;
    color: #fbc02d;
}

.item-input,
.action-button {
    margin-top: 15px;
    width: 240px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.error {
    transition: 200ms;
    opacity: 0;
    color: #f44336;
    margin-left: 20px;
}

.show {
    opacity: 1;
}

.action-button {
    display: block;
    cursor: pointer;
    color: #212121;
    background: #fbc02d;
    transition: 300ms;
}

.action-button:hover:not(:disabled) {
    background: #424242;
    color: #fbc02d;
}

.action-button:disabled {
    background: #616161;
}
