.description {
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    text-align: justify;
}

.complexity,
.condition,
.result {
    font-weight: 400;
    margin-top: 15px;
    text-align: justify;
}
.result {
    line-height: 25px;
}
.example-title {
    margin-top: 15px;
    font-size: 20px;
    color: var(--accent-color);
}

.item-input,
.action-button {
    margin-top: 15px;
    width: 240px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.error {
    transition: 200ms;
    opacity: 0;
    display: none;
    color: #f44336;
}

.show {
    display: block;
    opacity: 1;
}

.action-button {
    display: block;
    cursor: pointer;
    color: var(--main-color);
    background: var(--accent-color);
    transition: 300ms;
}

.action-button:hover:not(:disabled) {
    background: var(--background-color);
    color: var(--accent-color);
}

.action-button:disabled {
    background: #616161;
}

@media screen and (max-width: 768px) {
    .action-button {
        width: 100%;
    }
}
