.decoration {
    --first-angle: rotate(35deg);
    --second-angle: rotate(-45deg);
    --third-angle: rotate(110deg);

    position: fixed;
    z-index: 0;
    width: max(100% , 100vh);
    height: 1px;
    background: var(--accent-color);
    opacity: 0.2;

    top: 50%;
    left: 0;
    transform: var(--first-angle);
    -webkit-transform: var(--first-angle);
    -ms-transform: var(--first-angle);
}
.decoration.second {
    left: 10%;
    transform: var(--second-angle);
    -webkit-transform: var(--second-angle);
    -ms-transform: var(--second-angle);
}
.decoration.third {
    left: 30%;
    transform: var(--third-angle);
    -webkit-transform: var(--third-angle);
    -ms-transform: var(--third-angle);
}
