html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
}

aside {
    height: 100%;
    width: 300px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    overflow-y: auto;
}

aside ul {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

aside a {
    display: block;
    height: 45px;
    width: 100%;
    background-color: #424242;
    margin-top: 10px;
    color: #fbc02d;
    text-decoration: none;
    line-height: 45px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 18px;
    transition: 500ms;
}

aside a:hover {
    background: #616161;
}

aside a.active {
    background: #fbc02d;
    color: black;
}

main {
    flex: 1;
    overflow: auto;
    scroll-behavior: smooth;
}
